<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/fonts/fonts.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="main.js"></script>


    <style type="text/css">
        .elephantoutline {
            font-family: 'elephantoutline';
            color: #fff;
            font-size: 6vw;
        }

        .cairo {
            font-family: 'cairo_lightregular';
            font-size: 1.5vw;
            color: #000;
            text-align: center;
        }

        .cairo-white {
            font-family: 'cairo_lightregular';
            font-size: 1.5vw;
            color: #fff;
        }
    </style>
</head>

<body>

    <!-- IDC -->

    <text id="project1-name" class="elephantoutline" style="top: 20%; left: 11.5%;">IDC</text>
    <text id="project1-text" class="cairo-white" style="top: 28%; left: 11.5%;">Ps | 2019</text>
    <text id="project1-info" class="cairo" style="top: 28%; left: 7.3%;">an inspirational poster</text>

    <img id="project1-project" href="idc.html" class="project-container svg-content" src="./assets/imgs/IMG/project1.png" width="34.375%" height="50%" style="left: 0; top: 0;">

    <!-- THE PATH -->
    <text id="project2-name" class="elephantoutline" style="top: 20%; left: 41%;">THE PATH</text>
    <text id="project2-text" class="cairo-white" style="top: 28%; left: 47.9%;">An | 2019</text>
    <text id="project2-info" class="cairo" style="top: 28%; left: 44%;">a journy of two friends</text>

    <img id="project2-project" href="idc.html" class="project-container svg-content" src="./assets/imgs/IMG/project2.png" width="49.75%" height="50%" style="left: 27.6%;">

    <!-- THE BOX -->
    <text id="project3-name" class="elephantoutline" style="top: 20%; left: 79%;">THE BOX</text>
    <text id="project3-text" class="cairo-white" style="top: 28%; left: 83.8%;">Ps Pr | 2019</text>
    <text id="project3-info" class="cairo" style="top: 28%; left: 80.7%;">a life changing product</text>

    <img id="project3-project" href="idc.html" class="project-container svg-content" src="./assets/imgs/IMG/project3.png" width="30.26%" height="50%" style="left:70.1%;">

    <!-- TRON -->
    <text id="project4-name" class="elephantoutline" style="top: 71%; left: 6.5%;">TRON</text>
    <text id="project4-text" class="cairo-white" style="top: 79%; left: 7.9%;">html | 2019</text>
    <text id="project4-info" class="cairo" style="top: 80%; left: 6.0%;">a windows helper</text>

    <img id="project4-project" href="idc.html" class="project-container svg-content" src="./assets/imgs/IMG/project4.png" width="27.2%" height="51.7%" style="top: 50%; left: 0%;">

    <!-- TBD(SAMPLE 5) -->
    <text id="project5-name" class="elephantoutline" style="top: 71%; left: 38.5%;">SAMPLE</text>
    <text id="project5-text" class="cairo-white" style="top: 79%; left: 43.5%;">TBD | TBD</text>
    <text id="project5-info" class="cairo" style="top: 80%; left: 39.5%;">an inspirational poster</text>

    <img id="project5-project" class="project-container svg-content" src="./assets/imgs/IMG/project5.png" width="50.5%" height="50%" style="top: 49.95%; left: 19.9%;">

    <!-- TBD(SAMPLE 6) -->
    <text id="project6-name" class="elephantoutline" style="top: 71%; left: 76%;">SAMPLE</text>
    <text id="project6-text" class="cairo-white" style="top: 79%; left: 81%;">TBD | TBD</text>
    <text id="project6-info" class="cairo" style="top: 80%; left: 76.9%;">an inspirational poster</text>

    <img id="project6-project" class="project-container svg-content" src="./assets/imgs/IMG/project6.png" width="37.7%" height="52%" style="top: 49.95%; left:63.1%">

    <!-- ABOUT -->
    <text id="about-name" class="elephantoutline" style="top: 46.5%; left: 42%;">ABOUT</text>
    <img id="about-project" class="project-container svg-content" src="./assets/imgs/IMG/about.png" width="29%" height="26.5%" style="top: 37.3%; left: 34.6%;">

    
    

</body>


<div class="modal left fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>









</html>