@import url("./assets/fonts/fonts.css");

html {
    height: 100%;
    margin: 0;
    padding: 0;
} 

div, object, body, html {
  overflow: hidden;
}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    transition-duration: 0.4s;
}

.project-container {
    z-index: -1;
}

object {
	position: relative;
}

text { 
   position: absolute; 
}

#project1-text{
    display: block;
}

#project1-info{
    display: none;
}

#project2-text{
    display: block;
}

#project2-info{
    display: none;
}

#project3-text{
    display: block;
}

#project3-info{
    display: none;
}

#project4-text{
    display: block;
}

#project4-info{
    display: none;
}

#project5-text{
    display: block;
}

#project5-info{
    display: none;
}

#project6-text{
    display: block;
}

#project6-info{
    display: none;
}




.modal.left .modal-dialog {
	position: fixed;
	margin: auto;
	width: 90%;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body {
	padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
	left: -50%;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
	left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}

.wrapper-section {
    margin: 0;
}

.section-projet .projet-header {
    min-height: auto;
    padding: 0 10px 0 10px;
    max-width: 1000px;
    margin: 50px 20px;
}

.section .projet-header .header-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #848ca5;
}

.section .projet-header .header-header .titre {
    font-size: 60px;
    font-weight: 600;
    line-height: 53px;
}

@media screen and (min-width: 800px) {
    .section .projet-header .header-header .titre {
        font-size: 120px;
        line-height: 90px;
    }

    .section.section-projet .projet-header .header-header .infos-projet {
        width: auto;
    }

    .section .projet-header .header-header .infos-projet > * {
        min-width: 150px;
        display: flex;
        justify-content: flex-end;
    }

    .section.section-projet .projet-header .header-header .infos-projet .labels {
        flex-direction: column;
    }
}

.section .projet-header .header-header .infos-projet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 16px;
}

.section .projet-header .header-header .labels, .date {
    line-height: 16px;
    font-size: 14px;
}

.section .projet-header .header-header div:last-child {
    height: 25px;
}

.section .projet-header .header-header .icn-labels {
    height: 14px;
}

@media screen and (min-width: 500px) {
    .section .projet-header .header-header .icn-labels {
        height: 25px;
    }
}

.section .projet-header .description {
    margin-top: 25px;
}

#mint {
    color: #00BC9C;
}

.section .projet-header .ligne {
    height: 1px;
    width: 100%;
    background-color:#848ca5;
    opacity: 0.4;
    margin-top: 24px;
}



.section .legende {
    font-family: 'Lora', serif;
    font-style: italic;
    color: #848ca5;
}

    .section-projet .projet-header {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .section-projet .projet-header {
        min-height: Calc(Calc(100vh - Calc(Calc(50vh - 200px) - 75px)) - 100px);
    }

    .section .projet-header .header-header .infos-projet {
        margin-top: 0;
    }

.header-header {
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0.10s;
    animation-name: slideUp;
    opacity: 0;
    transform: translateY(20px);
}

.description {
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-delay: 0.40s;
    animation-name: slideUp;
    opacity: 0;
    transform: translateY(20px);
}

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #30334c;
    color: #e7e9ee;
    font-family: 'Cairo', sans-serif;
    font-weight: 200;
    letter-spacing: 0.06em;
    line-height: 32px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #e7e9ee;
}

.bold {
    font-weight: 600;
    /* font-style: italic; */
}

.lien {
    text-decoration: underline;
    text-underline-position: under;
    transition: all 0.4s;
    color:#848ca5;
}

.highlight {
    background-color: rgba(0, 188, 157, 0.13);
    /* padding: 0 5px 0 5px; */
    color: #00BC9C;
}

* {box-sizing: border-box;}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px;
}

.wrapper-section { 
    grid-column: 1 / 6;
    grid-row: 2;
    width: 100vw;
}  

    .wrapper {
        grid-template-rows: 100px;
    }
        
    .wrapper-section { 
        padding-top: Calc(Calc(50vh  - 200px) - 75px);
        margin-right: auto;
        margin-left: auto;
    }



@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
  
    to {
        opacity: 1;
        transform: translateY(0%);
    }
  }