body {
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.4s;
}

object {
    position: relative;
}

text {
    position: absolute;
}

#project1-text {
    display: block;
}

#project1-info {
    display: none;
}

#project2-text {
    display: block;
}

#project2-info {
    display: none;
}

#project3-text {
    display: block;
}

#project3-info {
    display: none;
}

#project4-text {
    display: block;
}

#project4-info {
    display: none;
}

#project5-text {
    display: block;
}

#project5-info {
    display: none;
}

#project6-text {
    display: block;
}

#project6-info {
    display: none;
}